<ion-header>
  <ion-toolbar>
    <ion-title>voice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="menu">
      <ion-icon name="menu"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="camera">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Camera</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="voice">
      <ion-icon name="volume-medium-outline"></ion-icon>
      <ion-label>Voice</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>